#meni > ul > li{
    display: inline-block;
    margin: 1em 5em 0 1em;
    vertical-align: top;
}
.rs_1, .rs_2, .bsc_1, .bsc_2, .bsc_3, .msc_1, .msc_2{
    display:grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
}
#meni {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color:darkturquoise;
  }