html{
   /*scroll-padding-top: 5.62em;*/
   scroll-padding-top: 6.9em;
}
body{
    background-color: #cb9360;    ;
}/*
#ri{
    background-color: #dba5ff;
}
#ee{
    background-color: #d291ff;
}
#ae{
    background-color: #c673ff;
}
#tk{
    background-color: #ba55ff;
}*/
@media (max-width: 300px){
    .rs_1, .rs_2, .bsc_1, .bsc_2, .bsc_3, .msc_1, .msc_2{
        display:grid;
        /*grid-template-columns: 1; kaze validacija ne smije jedan arg*/
        grid-row-gap: 10px; 
        overflow:auto;
        white-space: nowrap;
    }
}
@media   (max-width: 66.6em) {
    #meni > ul {
      display:grid;
    }
    html{
        scroll-padding-top: 0;
    }
    body #meni{
        position: static;
    }
}
#meni > ul > li{
    display: inline-block;
    margin: 0 5em 0 0;
    vertical-align: top;
    align-content: center;
    text-align: left;
}
#meni > ul > li > ul{
    list-style-type: none;
}
.rs_1, .rs_2, .bsc_1, .bsc_2, .bsc_3, .msc_1, .msc_2{
    display:grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
    grid-auto-rows: 1fr;
}
.rs_1 div, .rs_2 div, .bsc_1 div, .bsc_2 div, .bsc_3 div, .msc_1 div, .msc_2 div{
    border: 1px solid #6F4E37;
}
#meni {
    /*position: -webkit-sticky;  Safari */
    position: sticky;
    top: 0;
    /*background-color: #ae37ff;*/
    background-color: #d2a277;
    border: 1px solid #6F4E37;
    text-align: center;  
  }
.redovni{
    height: 103.6px;
    background-color: white;
}
.izborni{
    background-color: powderblue;
}
.ne_ide{
    background-color: grey;
}