
#tabela{
    width: 90%;
}
#tabela,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
    column-width: 3em;
}
.prisutan{
    background-color: green;
    height: auto;
}
.neprisutan{
    background-color: red; 
    height: auto;

}
.nepopunjeno{
    background-color: white;
    height: auto;
}
.zadnja-kolona{
    width:100%;
}
.ime_studenta{
    width:10%;
}
table tr { 
    overflow: hidden;
    height: 3em;
}
#nazivPredmeta{
    text-align: center;
    border-top: 3px solid black;
}
#smjer,h3{
    text-align: center;
}